<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thmelef/layout"
      layout:decorate="_layout">
<head>
  <meta charset="UTF-8">
  <title>Update Kos Form</title>
  <style>
            body {
                background-image: url("https://i.pinimg.com/750x/86/11/f3/8611f3cc58f5ca0fbc501cf2b12d51c3.jpg");
            }
            .card {
                background-color: #BBB7B8;
            }
        </style>
</head>
<body>
<div layout:fragment="content">
  <div class="container">
    <div class="row col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Update Data Kos</h2>
        </div>
        <div class="card-body">
          <form role="form" method="post" th:action="@{/admin/koss/update}" th:object="${kosDto}">
            <div class="mb-3">
                <label class="form-label">Nama Kos</label>
                <input type="text" class="form-control"
                       placeholder="Enter Kos Name" th:field="*{namaKos}">
                <p th:if="${#fields.hasErrors('namaKos')}" class="text-danger"
                   th:errors="*{namaKos}"></p>
              </div>
              <div class="mb-3">
                <label class="form-label">Fasilitas</label>
                <input type="text" class="form-control"
                       placeholder="Enter Facility" th:field="*{fasilitas}">
                <p th:if="${#fields.hasErrors('fasilitas')}" class="text-danger"
                   th:errors="*{fasilitas}"></p>
              </div>
              <div class="mb-3">
                <label class="form-label">Harga</label>
                <input type="text" class="form-control"
                       placeholder="Enter Price" th:field="*{harga}">
                <p th:if="${#fields.hasErrors('harga')}" class="text-danger"
                   th:errors="*{harga}"></p>
              </div>
              <div class="mb-3">
                <label class="form-label">Kontak</label>
                <input type="text" class="form-control"
                       placeholder="Enter Contact" th:field="*{kontak}">
                <p th:if="${#fields.hasErrors('kontak')}" class="text-danger"
                   th:errors="*{kontak}"></p>
              </div>
              <div class="mb-3">
                <label class="form-label">Daerah</label>
                <select th:field="*{daerah}" class="form-control" multiple="multiple" required>
                                <th:block th:each="cat : ${listDaerahs}">
                                    <option th:text="${cat.namaDaerah}" th:value="${cat.id}">
                                </th:block>
                 </select>
              </div>
              <input type="hidden" th:field="*{id}">
<!--              <input type="hidden" th:field="*{createdOn}">-->
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>