<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
<!--      xmlns:layout="http://www.ultraq.net.nz/thmelef/layout"
      layout:decorate="_layout">-->
    <a href="_layout.html"></a>
    <head>
        <title>StisLiving</title>
        <style>
            body {
                background-color: #FFEDD9;
            }
        </style>
        <link rel="stylesheet" th:href="@{/css/index.css}" />
    </head>
    
    <body>
        <div layout:fragment="content">
            <div class="container">
                <h1> Selamat Datang di StisLiving!</h1>
                <p>
                    Hallo Pengguna Website StisLiving! </br>
                    Temukan sewaan hunian di sekitar Politeknik Statistika STIS yang sesuai dengan keinginanmu di sini!
                <p>
            </div> 
        
        <div class="text">
            <p>berikut merupakan beberapa gambaran daerah yang berada di sekitar Polstat STIS!</P>
        </div>
            
        
        <div class="daftardaerah">
        <div class="row">
          <img th:src="@{/css/bonasel.jpg}"/>
          <h5>BONASEL</h5>
          <p>
            Bonasel / Kebon Nanas Selatan berlokasi di seberang selatan kampus.
          </p>
        </div>
        <div class="row">
          <img th:src="@{/css/bonasut.jpg}"/>
          <h5>BONASUT</h5>
          <p>
            Bonasut atau kebon nanas utara berlokasi di sebrang utara kampus.
          </p>
        </div>

        <div class="row">
          <img th:src="@{/css/sensus.jpg}"/>
          <h5>SENSUS</h5>
          <p>
            jalan Sensus tepat berada di samping kanan dan kiri kampus.
          </p>
        </div>

        <div class="row">
          <img th:src="@{/css/asem.jpg}"/>
          <h5>ASEM</h5>
          <p>
            Jalan Asem sebaris di sebelah utara kampus (tidak menyabrang).
          </p>
        </div>

        <div class="row">
          <img th:src="@{/css/otista3.jpg}"/>
          <h5>OTISTA 3</h5>
          <p>
            Otista 3 jalan yang cukup lebar dan tepat berada di sebrang kampus.
          </p>
        </div>

        <div class="row">
          <img th:src="@{/css/gelanggang.jpg}"/>
          <h5>GELANGGANG</h5>
          <p>
            Gelanggang berada di dekat bonasel dan halte Gelanggang Remaja.
          </p>
        </div>

        <div class="row">
          <img th:src="@{/css/saabun.jpg}"/>
          <h5>SAABUN</h5>
          <p>
            Jalan Saabun sebaris di sebelah utara kampus (tidak menyabrang).
          </p>
        </div>

        <div class="row">
          <img th:src="@{/css/pasarsawo.jpg}"/>
          <h5>PASAR SAWO</h5>
          <p>
            pasar sawo berada di sekitar bonasel, tapi lebih ke selatan lagi.
          </p>
        </div>
        
        <div class="row">
          <img th:src="@{/css/pedati.jpg}"/>
            <h5>PEDATI</h5>
          <p>
            Jalan Pedati bersebrangan di utara kampus, berada di dekat Halte Kampung Melayu.
          </p>
        </div>

        <div class="row">
          <img th:src="@{/css/otista2.jpg}"/>
          <h5>OTISTA 2</h5>
          <p>
            Jalan otista 2 di dekat SPBU Coco Otista, berada di sebrang kampus. 
          </p>
        </div>
      </div>
           
      </div>
        
        
<!--      <div class="image">
        <img src="img/gambar_index.png" alt="" />
      </div>
        </div>-->
    </body>
</html>
