* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  /* text-transform: capitalize; */
  text-decoration: none;
  /* transition: all 0.3s ease; */
}

:root {
  --ungu: #5a0240;
  --ungutua: #23001d;
  --lightpink: #b48198;
  --light: #777;
  --box-shadow: 0.5rem 0.5rem 0 #5a0240;
  --border: 0.2rem solid var(--ungu);
}

/* html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
} */

header {
  position: fixed;
  padding: 2rem 9%;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #BBB7B8;
  box-shadow: 0 0.5rem 1.5rem --ungutua;
  z-index: 1000;
}

.container {
  text-align: center;
  margin-top: 130px;
}

.text p {
    text-align: center;
    color: rgb(2, 2, 123);
    font-weight:500;
    font-size: 1.2rem;
}

h1 {
  font-size: 36px;
  font-weight: 1000;
  color: rgb(2, 2, 123);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.5s ease;
}

h1:hover {
  color: rgb(2, 2, 91);
  font-size: 40px;
}
.container p {
  font-size: 1.5rem;
  color: #595557;
  line-height: 1.8;
  padding: 1rem 0;
  font-weight: 500;
}

 .daftardaerah {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  gap: 0.5rem;
  text-align: center;
}
 .daftardaerah .row img {
  max-width: 100%;
  max-height: 100%;
}

 .daftardaerah .row {
  padding: 25px 40px;
/*  background-color: var(--light);
  box-shadow: -4px 9px 25px -6px rgba(0, 0, 0, 0.1);*/
  transition: all 0.42s;
}
 .daftardaerah .row:hover {
  transform: translateY(-5px);
}

 .daftardaerah .row h5 {
  margin-bottom: 5px;
  font-size: 19px;
  font-weight: 800;
}
 .daftardaerah .row p {
  font-size: 15px;
  margin-bottom: 10px;
  color: rgb(2, 2, 123);
  font-weight: 500;
}

.container py-5 .col-md-12 {
 font-size: 15px;
  margin-bottom: 10px;
  color: rgb(2, 2, 123);
  font-weight: 500;   
}

.container ul li {
    font-weight: 700;
    font-color:#b48198;
}

.daftardaerah .row img {
    width: 300px;
    height: 250px;
    border-radius: 10%;
}

/* .content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 10rem;
}
.content {
  flex: 1 1 45%;
}
.content h3 {
  font-size: 4.8rem;
  color: var(--ungu);
  line-height: 1.5;
}
.content h3:hover {
  color: var(--ungutua);
  font-size: 5.1rem;
  font-weight: bold;
}
.content p {
  font-size: 1.9rem;
  color: var(--lightpink);
  line-height: 1.8;
  padding: 1rem 0;
}
.image {
  flex: 1 1 45%;
  margin-right: 2rem;
}
.image img {
  width: 100%;
  display: flex;
  transition: transform 0.3s ease;
}
.image img:hover {
  transform: scale(1.03);
} */
