* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.3s ease;
}

:root {
  --ungu: #5a0240;
  --ungutua: #23001d;
  --lightpink: #b48198;
  --light: #777;
  --box-shadow: 0.5rem 0.5rem 0 #5a0240;
  --border: 0.2rem solid var(--lightpink);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

.container ul {
  display: flex;
  list-style: none;
  position: fixed;
  padding: 2rem 9%;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: bisque;
  box-shadow: 0 0.5rem 1.5rem --ungutua;
  z-index: 1000;
}

/* footer .catatan-kaki .text2 p{
  position: fixed;
  padding: 2rem 9%;
  margin-top: 0px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #BBB7B8;
  z-index: 1000;
}*/
