<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
<!--      xmlns:layout="http://www.ultraq.net.nz/thmelef/layout"
      layout:decorate="_layout">-->
<head>
    <meta charset="UTF-8">
    <title>Stis Living!</title>
    <style>
            body {
                background-color: #8D8B8B;
            }
        </style>
      <link rel="stylesheet" th:href="@{/css/daerahs.css}" />
</head>
<body>
    
  <div layout:fragment="content">
      <div class="text">
            <p>Daftar daerah di sekitar Polstat STIS!</P>
        </div>
      
    <table class="table table-bordered table-striped">
      <thead>
        <th styles="width:10%"> Nomor </th>
        <th styles="width:20%"> Nama Daerah </th>
        <th styles="width:20%" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"> Actions </th>
      </thead>
        <tbody>
         <tr th:each="stdDo,index : ${daerahDtos}">
           <td th:text="${index.count}">id</td>
           <td th:text="${stdDo.namaDaerah}">Nama Daerah</td>
<!--           <td><span th:each="kos, iterStat : ${stdDo.kos}">
                        <span th:text="${iterStat.count} + '. ' + ${kos.namaKos}"></span>
                        <br/>
                    </span>
           </td>-->
           <td th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"> 
               <a onclick="alert(`Data akan diperbaharui`)" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:href="@{/admin/daerahs/update/{id}(id=${stdDo.id})}" type="submit" class="btn btn-primary">Update</a>
<!--                <a onclick="alert(`Data akan dihapus`)" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:href="@{/admin/daerahs/delete/{id}(id=${stdDo.id})}" type="submit" class="btn btn-primary">Delete</a> </td>-->
         </tr>
        </tbody> </table>
  </div>
</body>
</html>