<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">

<head>
    <meta charset="UTF-8">
    <title>Stis Living!</title>
    <link rel="stylesheet" th:href="@{/css/koss.css}" />
    <style>
            body {
                background-color: #8D8B8B;
            }
        </style>
</head>

<body>
    <div layout:fragment="content">
        <div class="container">
            <form th:action="@{/admin/koss}" th:method="get">
                <label for="keyword">Search by Fasilitas</label>
                <input type="text" id="keyword" name="keyword" th:value="${keyword}" />
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            <br>

            <div class="text">
                <p>Apabila Anda merupakan pemilik kos dan ingin mendaftarkan hunian Anda di website ini, silahkan hubungi admin
                    dengan cara kirim e-mail ke
                    222112090@stis.ac.id dengan subjek email "DAFTAR KOS STISLIVING!", berikan keterangan tentang
                    kos Anda sesuai dengan tampilan tabel kos di bawah!
                </p>
            </div>

            <table class="table table-bordered table-striped">
                <thead>
                    <th style="width:10%">Nomor</th>
                    <th style="width:20%">Nama Kos</th>
                    <th style="width:10%">Fasilitas</th>
                    <th style="width:10%">Harga</th>
                    <th style="width:10%">Kontak</th>
                    <th style="width:10%">Daerah</th>
                    <th style="width:20%" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Actions</th>
                </thead>
                <tbody>
                    <tr th:each="kosDto,index : ${kosDtos}">
                        <td th:text="${index.count}">id</td>
                        <td th:text="${kosDto.namaKos}">namaKos</td>
                        <td th:text="${kosDto.fasilitas}">fasilitas</td>
                        <td th:text="${kosDto.harga}">harga</td>
                        <td th:text="${kosDto.kontak}">kontak</td>
                        <td th:text="${kosDto.daerah}">daerah</td>
                        <td th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                            <a onclick="alert(`Data akan diperbaharui`)" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                                th:href="@{/admin/koss/update/{id}(id=${kosDto.id})}" type="submit"
                                class="btn btn-primary">Update</a>
                            <a onclick="alert(`Data akan dihapus`)" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                                th:href="@{/admin/koss/delete/{id}(id=${kosDto.id})}" type="submit"
                                class="btn btn-primary">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>

<div class="pagination">
<!--    <ul class="pagination">
        <li>
            <span class="row-label">Row:</span>
            <select class="form-control" onchange="location = this.value;">
                <option th:each="pageSizeOption : ${pageSizes}"
                        th:value="@{/admin/koss(pageNo=1, pageSize=${pageSizeOption}, keyword=${keyword})}"
                        th:selected="${pageSizeOption == pageSize}">
                    <span th:text="${pageSizeOption}"></span>
                </option>
            </select>
        </li>
    </ul>-->

    <div class="pagination">
        <ul class="pagination">
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/admin/koss(pageNo=1, pageSize=${pageSize}, keyword=${keyword})}">start</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/admin/koss(pageNo=${currentPage - 1}, pageSize=${pageSize}, keyword=${keyword})}">prev</a>
            </li>
            <li th:each="pageNumber : ${#numbers.sequence(1, totalPages)}" class="page-item"
                th:classappend="${pageNumber == currentPage} ? 'active'">
                <a class="page-link"
                   th:href="@{/admin/koss(pageNo=${pageNumber}, pageSize=${pageSize}, keyword=${keyword})}"
                   th:text="${pageNumber}"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/admin/koss(pageNo=${currentPage + 1}, pageSize=${pageSize}, keyword=${keyword})}">next</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/admin/koss(pageNo=${totalPages}, pageSize=${pageSize}, keyword=${keyword})}">last</a>
            </li>
        </ul>
    </div>
</div>


            <div th:if="${notFound}">
                <div class="popup">
                    <p>Data tidak ditemukan!</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
