form {
  margin-bottom: 20px;
}

.popup {
  background-color: #ffcccc;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

.table {
  border-collapse: collapse;
  position: relative;
  width: 80%;
  margin: auto;
  color: var(--ungutua);
  border-color: rgb(2, 2, 61);
}

.table th,
.table td {
  border-width: 0.1rem;
  border-style: solid;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1rem;
}
.table thead th {
  background-color: darkblue;
  text-transform: uppercase;
  font-size: 1rem;
  color: rgb(108, 108, 164);
}
.table tbody td {
  color: var(--ungutua);
}
.table tbody tr:nth-child(odd) td {
  background-color: rgb(108, 108, 164);
}
.table tbody tr:nth-child(even) td {
  background-color: bisque;
}
.table tbody tr:hover td {
  background-color: rgb(250, 237, 221);
  transition: all 0.2s;
}

.text p {
    text-align: center;
    color:#494647;
    font-weight:500;
    font-size: 1.2rem;
    margin-top:-10px;
    margin-bottom: 30px;
}
