form {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: darkblue;
}

/* input[type="text"] {
  padding: 5px;
  width: 200px;
} */

.text p {
    text-align: center;
    color:#494647;
    font-weight:500;
    font-size: 1rem;
    margin-top: -20px;
}

button.btn {
  padding: 5px 10px;
  background-color: darkblue;
  color: bisque;
  color: rgb(244, 236, 225);
  border: none;
  cursor: pointer;
}
button.btn:hover {
  background-color: bisque;
  color: darkblue;
}

a.btn {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.popup {
  background-color: #ffcccc;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

.table {
  border-collapse: collapse;
  position: relative;
  width: 100%;
  margin: auto;
  color: var(--ungutua);
  border-color: rgb(2, 2, 61);
}

.table th,
.table td {
  border-width: 0.1rem;
  border-style: solid;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1rem;
}
.table thead th {
  background-color: darkblue;
  text-transform: uppercase;
  font-size: 1rem;
  color: rgb(108, 108, 164);
}
.table tbody td {
  color: var(--ungutua);
}
.table tbody tr:nth-child(odd) td {
  background-color: rgb(108, 108, 164);
}
.table tbody tr:nth-child(even) td {
  background-color: bisque;
}
.table tbody tr:hover td {
  background-color: rgb(250, 237, 221);
  transition: all 0.2s;
}

.pagination {
            margin-top: 20px;
            text-align: center;
        }

        .pagination ul {
            display: inline-block;
            padding: 0;
            margin: 0;
        }

        .pagination li {
            display: inline-block;
            margin-right: 5px;
        }

        .pagination li a,
        .pagination li span {
            display: inline-block;
            padding: 8px 12px;
            background-color: #f2f2f2;
            border: 1px solid #ddd;
            text-decoration: none;
            color: #333;
        }

        .pagination li a:hover {
            background-color: #ddd;
        }

        .pagination li.disabled a,
        .pagination li.disabled span {
            cursor: not-allowed;
            opacity: 0.6;
        }