<html lang="en"
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout">
    <head>
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Thymeleaf Example</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
            rel="stylesheet" integrity="" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.bundle.min.js"
                rel="stylesheet" integrity="" crossorigin="anonymous">
        </script>
         <link rel="stylesheet" th:href="@{/css/index.css}" />
<!--        <style>
            body {
                background-image: url("https://i.pinimg.com/750x/86/11/f3/8611f3cc58f5ca0fbc501cf2b12d51c3.jpg");
            }
        </style>-->
        <!--<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">-->
<!--        <link rel="stylesheet" type="text/css" href="css/layout.css" />-->
    </head>
    
    <body>
        <div class="container">
            <header class="d-flex justify-content-center py-3">
                <ul class="nav nav-pills">
                    <li class="nav-item" ><a th:href="@{/}" class="nav-link" style="color: #02027B;" >Home</a></li>
                    <li class="nav-item" sec:authorize="isAnonymous()"><a th:href="@{/register}" class="nav-link" style="color: #02027B;">Register</a></li>
                    <li class="nav-item" sec:authorize="isAnonymous()"><a th:href="@{/login}" class="nav-link" style="color: #02027B;">Login</a></li>
                    <li class="nav-item" sec:authorize="isAuthenticated()"><a th:href="@{/admin/koss}" class="nav-link" style="color: #02027B;" >Kos</a></li>
                    <li class="nav-item" sec:authorize="isAuthenticated()"><a th:href="@{/admin/daerahs}" class="nav-link" style="color: #02027B;">Daerah</a></li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/koss/add}" class="nav-link" style="color: #02027B;">Tambah Kos</a></li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/daerahs/add}" class="nav-link" style="color: #02027B;">Tambah Daerah</a></li>
                    <li class="nav-item" sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="nav-link" style="color: #02027B;">Logout</a></li>
<!--                    <li class="nav-item" sec:authorize="isAuthenticated()"><a href="#" class="nav-link">Tentang</a></li> </ul>-->
<!--                    <li class="nav-item" sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="nav-link">Logout</a></li>-->
            </header>
        </div> <!--Content Section-->
        <div layout:fragment="content">
            <p>Body Contents</p>
        </div>
        <footer class="catatan-kaki" sec:authorize="isAuthenticated()">
            <div class="text2" style="font-size: 16px; color: #BBB7B8; text-align: center; margin-top:30px; font-weight: 500;">
                <p> Website Stisliving merupakan website yang dibuat oleh 
                    Hanun Nabila Azis (222112090) untuk memenuhi tugas akhir Pemograman Berorientasi Objek. <p>
            </div>
<!--            <div class="row">
                <div class="col-md-12">
                    <p class="text-muted" style="text-align: center">&copy; 2023 Hanunnab. All right reserved</p>
                </div>
            </div>-->
        </footer>
<!--        Option Section-->
        <th:block layout:fragment="optional"/>
    </body>
</html>


        
        